/* ===============RESET styles 🧐 starts here========== */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* ===============RESET styles 🧐 ends here========== */



:root {
    /* color for main-PRIMARY TEXT */
    --main-color: #212121;
    /* color for SECONDARY TEXT */
    --sec-color: #757575;
     /* color for SELECTION -ACCENT TEXT */
    --act-color: #2196F3;
/* color for BLACK backgroud*/
    --prim-white-background: #FFFFFF;
    --sec-grey-background-color: #E5E5E5;
    --thir-grey-white-background: #F5F4FA;

}
body{
    background-color: var(--prim-white-background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #050303;
}
.section {
    padding-top: 94px;
}

.container {
    padding: 0 15px;
    width: 1200px;
    outline: 1px solid red;
    margin: 0 auto;
}

.hedden-elem {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
}

/* ===============Header styles 🧐 starts here========== */

nav,
.links,
.contacts,
header .container {
    display: flex;
    justify-content: space-between;
}

header{
    border-bottom: 1px solid #ececec;
}
header .logo {
    margin-right: 93px;
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--act-color);
}

.logo-color-black {
    color: var(--main-color);
    display: inline-block;
    margin-right: 5px;
}

.logo-color-white {
    color: #FFFFFF;
}
.contacts li a,
.links li a {
    margin-right: 50px;
    display: inline-block;
    padding: 30.5px 0;
    color: var(--main-color);
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.links li:last-child a {
    margin-right: 0px;
    
}

.contacts li a {
    margin: 0 0 0 50px;
    color: var(--sec-color);
}

.contacts li a:hover,
.contacts li a:focus,
.links li a:focus,
.links li a:hover {
    color: var(--act-color);
}
/* .a-mail:hover .icon-envelopehover-svg {
    fill: var(--act-color);} 
 */


/* 
.a-mail:hover,
.a-mail:focus {
    color: var(--act-color);
}  */

.contacts li:first-child a {
    margin-left: 0px;
}

.icon-envelopehover-svg {
    width: 16px;
    height: 12px;
    fill: currentColor;
}
.icon-mobile-svg {
    width: 10px;
    height: 16px;
    fill:currentColor;
}


/* ===============Header styles 🧐 ends here========== */

/* ===============Hero styles 🧐 starts here========== */

.hero {
    background: #2f303a;
    padding: 200px 0;
    max-width: 1600px;
    margin: 0px auto;
    text-align: center;
    outline: 1px solid #2196F3;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(52, 52, 53, 0.4)), 
    url("../images/imgbgfon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.hero-title {
    font-size: 44px;
    text-transform: uppercase;
    max-width: 650px;
    color:#FFFFFF;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero-btn {
    padding: 10px 32px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 650px;
}
.hero-btn:hover,
.hero-btn:focus {
    background:#188CE8 ;
}


/* ===============Hero styles 🧐 ends here========== */

/* ===============Advantages styles 🧐 starts here========== */
.advanta {
    padding-bottom: 0px;
}
.icon-antenna,
.icon-clock1,
.icon-diagram1,
.icon-astronaut1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    /* outline: 1px solid #2196F3; */
    background: #F5F4FA;
}
.icon-antenna-svg,
.icon-clock1-svg,
.icon-diagram1-svg,
.icon-astronaut1-svg {
    width: 70px;
    height: 70px;
    }

/* .list-advantages, */
.advantages,
.advantages-text,
h2 .container,
.list-image-do,
.list-image-team {
    display: flex;
    justify-content: space-between;
}

.container >.hedden-elem {
    margin: 94px 215px;
}

.advantages-text {
    max-width: 270px;
}

.list-advantages {
    display: flex;
    display: inline-block;
    margin-left: 30px;      
}

.list-advantages:first-child {
    margin-left: 0px;
  }
  
.list-advantages:last-child {
    margin-right: 0px;
 }

 .advant {
     padding-right: 0px;
 }

.advantages,
.join {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.advantages-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
    color: var(--sec-color);
}

/* ===============Advantages styles 🧐 ends here========== */

/* ===============DOING & team styles 🧐 starts here========== */
.do {
    padding-bottom: 94px;
}

.doing,
.team,
.regular-clients {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.doing,
.team,
.regular-clients {
     margin-bottom: 50px;
}
.card-point {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px 
    rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card-team {
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--prim-white-background);
    border-radius: 0px 0px 4px 4px;
   }

h3.img-name {
    /* padding-top: 30px; */
    padding-bottom: 10px;
}

/* p.img-proff {
     padding-bottom: 30px;
} */

img {
    display: block;
}

.image-do li {
    display: inline-block;
}

.img-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);

}

.img-proff {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sec-color);

}

.bgteam {
    padding-bottom: 94px;
    background-color: var(--thir-grey-white-background);
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

.social-link {
    margin-right: 10px;
}
.social-link:last-child {
    margin-right: 0px;
}

.btn-soc {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #afb1b8;
}
.soc-icon-svg
 {
    width: 20px;
    height: 20px;
    }

.client-icon-svg {
        width: 106px;
        height: 60px;
     }

.btn-soc:focus,
.btn-soc:hover,
.soc-icon-svg:hover,
.soc-icon-svg:focus
{
    background: var(--act-color);
    fill: #FFFFFF;
}
.connect {
    fill: #FFFFFF;
}
/* ===============DOING & team styles 🧐 ends here========== */

/* ===============Regular clients styles 🧐 starts here========== */
.clients {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .clients > .client {
    margin-right: 30px;
    text-align: center;
  }
  .clients .client:last-child {
    margin: 0;
  }
  .client {
    flex-basis: calc(100% / 6)-30px;
    width: 170px;
    height: 92px;
  }
  .btn-client {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    background: var(--prim-white-background);
    fill: #afb1b8;
  }

.btn-client:focus,
.btn-client:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.connect {
    background: rgba(255, 255, 255, 0.1);
  }
/* ===============Regular clients styles 🧐 ends here========== */
/* ===============Portfolio styles 🧐 starts here========== */
.list-btn {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
}
.all-btn {
    padding: 6px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
    }
.all-btn:hover,
.all-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.web-btn,
.apps-btn,
.disg-btn,
.markt-btn {
    padding: 6px 22px;
    margin-left: 8px;   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: #F5F4FA;
    border-radius: 4px;
    }

.product {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--main-color);
}  
.type-product {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--sec-color);
}

.container-main-por {
    padding: 0 15px;
    width: 1210px;
    outline: 1px solid red;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* max-width: 1170px; */
   
}
.card-portfolio {
     border: 1px solid #EEEEEE;
}

.card-portfolio:focus,
.card-portfolio:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06),
             1px 4px 6px rgba(0, 0, 0, 0.16);
            }

h2.product {
    margin-bottom: 4px;
}
.name-product {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.one,
.two,
.four,
.five,
.seven,
.eight {
    margin-right: 30px;
  
}

.one,
.two,
.three,
.four,
.five,
.six {
    margin-bottom: 30px;
  
}

.portfolio {
    padding-bottom: 94px;
}
/* ===============Portfolio styles 🧐 ends here========== */

/* ===============Footer styles 🧐 starts here========== */
.footer {
    background: #2f303a;
    padding: 60px 0;
    max-width: 1600px;
    margin: 0px auto;
    margin-top: 94px;
    }
/* 
footer a.logo {
    margin-bottom: 20px;
} */
.logo-address-join-soc {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap:wrap; */
}


.list-address {
    max-width: 230px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
/* .logo-address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} */
.address {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.address-footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.join {
    font-size: 14px;
    line-height: 1.17;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--prim-white-background);
}
.join-column {
    /* display: flex;
    flex-direction: column; */
    margin-left: 156px;
}        
/* ===============Footer styles 🧐 ends here========== */